<article class="post-content">
  <div id="profile-col">
    <img id="about-profile-img" src="/css/jenn-profile.jpg" />

    <p>
      I recommend that clients print their digital images out at a high-quality
      print shop such as Mpix (mpix.com) since places such as CVS and Costco do a
      poor job of creating good-quality photo prints.
    </p>
  </div>

  <div id="about-col">
    <p>
      <h3><b>Family photography sessions - $200 </b>(includes session and digital
        images)</h3>
      These sessions run between 1 – 1 ½ hours long, and you will
      receive 20 high-quality edited digital images sent to you within 2 weeks of
      your shoot date.  You may pick any location within 50 miles of Somerville,
      Massachusetts.
    </p>


    <p>
      <h3><strong>Newborn photography sessions – $250 </strong>(includes session
        and digital images)</h3>
      These sessions generally run around 2 – 2 ½ hours to
      allow for breaks and feedings, and you will receive 20 high-quality edited
      digital images sent to you within 2 weeks of your shoot date.  Newborn
      sessions are generally done in your home (and backyard, if it is warm enough
      out), though I am happy to shoot elsewhere if you wish.  I shoot lifestyle
      newborn sessions, which means that I do not do a lot of posing of the
      newborn.  Shoots may be done at any location within 50 miles of Somerville,
      Massachusetts.
    </p>
  </p>
  </p>
</div>

</article>
