<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
    <meta name="description" content="Jenn is a photographer who specializes in family and newborn photography.   She is available for sessions within 50 miles of Somerville, Massachusetts.
    ">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="canonical" href="http://JennSagotskyPhotography.com/">
    <link rel="alternate" type="application/rss+xml" title="Jenn Sagotsky Photography" href="http://yourdomain.com/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <!link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
    <!link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="/js/github-image-loader.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/fancybox-loader.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
  </head>


  <body class="<%= @body_class %>">

    <header class="site-header">

      <div class="wrapper">

        <a class="site-title" href="/">Jenn Sagotsky Photography</a>

        <nav class="site-nav">
          <a href="#" class="menu-icon">
            <svg viewBox="0 0 18 15">
              <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
              <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
              <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
          </a>

          <div class="trigger">
            <a class="page-link" href="/">Home</a>
            <a class="page-link" href="/gallery">Gallery</a>
            <a class="page-link" href="/about">About</a>
          </div>
        </nav>
      </div>
    </header>

    <div class="page-content">
      <div class="wrapper">

        <%= yield %>

        <%# <div class="home carousel"> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/01.jpg" > %>
            <%# <img src="/images/carousel/740x740/01.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/02.jpg" > %>
            <%# <img src="/images/carousel/740x740/02.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/03.jpg" > %>
            <%# <img src="/images/carousel/740x740/03.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/04.jpg" > %>
            <%# <img src="/images/carousel/740x740/04.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/05.jpg" > %>
            <%# <img src="/images/carousel/740x740/05.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/06.jpg" > %>
            <%# <img src="/images/carousel/740x740/06.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/07.jpg" > %>
            <%# <img src="/images/carousel/740x740/07.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/08.jpg" > %>
            <%# <img src="/images/carousel/740x740/08.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/09.jpg" > %>
            <%# <img src="/images/carousel/740x740/09.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/10.jpg" > %>
            <%# <img src="/images/carousel/740x740/10.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/11.jpg" > %>
            <%# <img src="/images/carousel/740x740/11.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/12.jpg" > %>
            <%# <img src="/images/carousel/740x740/12.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/13.jpg" > %>
            <%# <img src="/images/carousel/740x740/13.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/14.jpg" > %>
            <%# <img src="/images/carousel/740x740/14.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/15.jpg" > %>
            <%# <img src="/images/carousel/740x740/15.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/16.jpg" > %>
            <%# <img src="/images/carousel/740x740/16.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/17.jpg" > %>
            <%# <img src="/images/carousel/740x740/17.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/18.jpg" > %>
            <%# <img src="/images/carousel/740x740/18.jpg" /> %>
            <%# </a> %>

          <%# <a class="slide" href="/images/carousel/2000x2000/19.jpg" > %>
            <%# <img src="/images/carousel/740x740/19.jpg" /> %>
            <%# </a> %>

          <%# </div> %>

      </div>
    </div>

    <footer class="site-footer">

      <div class="wrapper">
        <div class="footer-col-wrapper">
          <div class="footer-col  footer-col-1">
            <ul class="contact-list">
              <li>Jenn Sagotsky Photography</li>
              <li><a href="/cdn-cgi/l/email-protection#b2d8d7dcdcc1d3d5ddc6c1d9cbc2daddc6ddd5c0d3c2dacbf2d5dfd3dbde9cd1dddf"><span class="__cf_email__" data-cfemail="8de7e8e3e3feeceae2f9fee6f4fde5e2f9e2eaffecfde5f4cdeae0ece4e1a3eee2e0">[email&#160;protected]</span></a></li>
              <li><br><a href="https://www.facebook.com/JennSagotskyPhotography">https://www.facebook.com/JennSagotskyPhotography</a>
              </ul>
            </div>

            <div class="footer-col  footer-col-2">
            </div>

            <div class="footer-col  footer-col-3">
              <p class="text">Jenn is a photographer who specializes in family and newborn photography.   She is available for sessions within 50 miles of Somerville, Massachusetts.
              </p>
            </div>
          </div>

        </div>

      </footer>


      <script data-cfasync="false" src="/cdn-cgi/scripts/af2821b0/cloudflare-static/email-decode.min.js"></script></body>

  </html>
