/* carousel*/

.transparent {
  opacity: 0;
}

.carousel {
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .8);
  border-radius: 1px;
  max-height: 488px; /* see calc in .wrapper */
  height: 60vw;
  background-color: black;
}

.carousel a.slide {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .5s linear;
}

.carousel a.slide > img{
  width: 100%;
}



/* gallery */

body.gallery .page-content p {
  display: inline;
}

body.gallery .page-content img {
  width: 20%;
  padding: 0;
  margin: 1ex;
  border-radius: 1ex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

body.gallery .page-content img:hover {
  box-shadow: 2px 2px 10px black;
}



.site-nav a {
  font-family: Delius;
}

.site-nav a:link, .site-nav a:visited {
  color: #222;
  /* text-shadow: 0 0px 2px black, 0 0 8px rgba(100, 100, 100, .5); */
  transition: text-shadow .1s;
}

.site-nav a:active, .site-nav a:hover {
  color: gray;
  text-decoration: none;
}




/* how to add a class to page... */
body.home a.page-link[href$='/index.html'],
body.home a.page-link[href='/'],
body.gallery a.page-link[href$='/gallery/'],
body.about a.page-link[href$='/about/'] {
  background-color: #666;
  color: white;
  border: 10px #666 solid;
  border-radius: 5px;
  text-shadow: 0 1px 2px #000;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, .25);
}

header {
}

header > .wrapper {
  height: 15vh;
  position: relative;
}

header > .wrapper > .site-title {
  position: absolute;
  bottom: 0;
}

header > .wrapper > .site-nav {
  position: absolute;
  bottom: 0;
  right: 2vw;
}

.page-content {
  background-color: #333;
  background: linear-gradient(to top, #222224 0%, #444446 90%, #444446 100%);
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  color: white;
}

.page-content, footer {
  font-family: Gentium Basic;
}

.site-title {
  /* font-family: Stalemate; */
  font-family: Delius;
  font-size: 185%;
  font-size: 2vw;
}

@media screen and (min-width: 1001px) {
  .site-title {
    font-size: 185%;
  }
}

@media screen and (max-width: 1000px) {
  .site-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .site-title {
    font-size: 200%;
  }
}


/* about */

#profile-col {
  float: left;
  width: 50%;
}

#profile-col > img {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .8);
  border-radius: 1px;
  margin-right: 1em;
  border-radius: 1ex;
  margin-bottom: 2em;
}

#about-col {
  width: 45%;
  float: right;
  text-shadow: 0 0 2px black;
}


iframe#contact-form {
  border: 0;
}
